@import '../master-styles.scss';

.cities--container{
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    &::-webkit-scrollbar {
        background-color: $bgcolor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $navColor;
        height: 0;
        border-radius: 50px;
    }
}


.cityListHeader{
    font-family: 'Pushster', cursive;
    font-size: 5rem;
    background-color: darkslategray;
    color: $bgcolor;
    padding: 1rem 2rem;
    border-radius: 50px;
    margin: 3rem 0;
    margin-bottom: 4rem;
}



.city--box {
    border: 1px solid black;
    display: flex;
    width: 35%;
    height: 15%;
    margin: 1rem 0;
    border-radius: 50px;
    padding: 3rem;
    justify-content: space-between;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.137);
}

.cityid {
    align-self: flex-start;
    font-size: 5rem;
    color: $navColor;
    font-weight: 900;
    margin-left: 2rem;
    -webkit-text-fill-color: $bgcolor;
    -webkit-text-stroke: 1px $navColor;
    
}

.city--info{
    margin-left: 1.5rem;
    display:flex;
    flex-direction: column;
}

.city--name{
    // -webkit-text-fill-color: $bgcolor;
    // -webkit-text-stroke: 1px $navColor;
    text-transform: uppercase;
    font-size: 3rem;
}

.city--rent{
    margin-top: 1rem;
    justify-self: end;
    align-self: flex-end;
    font-size: 2rem;
}

span{
    font-size: 2rem;
}

.routelink{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.cost{
    margin-left: 2rem;
    margin-top: 2rem;
    color: $navColor;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-decoration: none;
    &:hover, &:active {
        border-bottom: 1px solid $navColor;
    }
}

.secondarytext{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.deleteBtn {
    margin-top: -1.5rem;
    margin-right: 0;
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 1rem;
    padding: .3rem .6rem;
    border-radius: 4000px;
    color: $bgcolor;
    background-color: maroon;

    &:hover{
        transform: translateY(-1px);
        transition: all .3s;
    }

    &:active{
        size: .9;
        border: .1px solid maroon;
        background-color: $bgcolor;
        transform: translateY(.5px);
        color: maroon;
        transition: all .2s;
    }
}