<div class="container">
  <header>
    <a class="logo" routerLink="/app">Costly</a>
    <div class="routelink--box">
      <a routerLink="/app">List of Cities</a>
      <a routerLink="/addCity">Add a City</a>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div>
      <p class="footertext"> <span class="cost">Costly</span> is an Omaid
        Karimi production and the styling<br> of this app can be attributed
        to ya boi, thanks for visiting.</p>
      <p class="p2">Newsletter | My Github | Linked In</p>

    </div>
  </footer>
</div>